body {
    margin: 0;
    padding: 0;
    background: url("../images/body-background.jpg");
    background-size: 100% 100vh;
    min-height: 100vh;
}

.body-content {
    padding: 15px;
    width: 100%;
    max-width: 730px;
    position: relative;
    max-height: 1000px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(0,0,0,0.8);
    color: white;
}

.body-content-nobackground {
    background: none;
}

.body-content-border {
    background: none;
    border: solid 1px cyan;
    border-radius: 3%;
    transition: 0.2s;
}

.body-content-border:hover {
    top: 3px;
    font-size: 17px;
}



.body-content-wider {
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0);
}

.body-texture {
    background: url("../images/navbar-background.jpg");
    color: white;
}



/*****************************************/
/*   Signup   */
#signupform {
    position: relative;
    padding: 1rem;
    padding-right: 1rem;
    width: 100%;
    float: left;
}

#signupform .input-group {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}

#signupform #signup-submit {
    margin-top: 55px;
}

#signup-text {
    margin-bottom: 10px;
}

#inside-signupform {
    padding: 20px;
}

.alerts-div {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#pass-alerts-div {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

/*Styling the meter*/
#signupform meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 400px;
    top: -30px;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

#signupform meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }



/*****************************************/
/*   Login   */

#login-text {
    
}


#loginform-cotainer {
    padding: 20px;
    position: relative;
    width: 400px;
    top: 50px;
    margin-bottom: 30px;
}



/*****************************************/
/*   Select Location  */

.locations-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 20px;
}

.location {
    margin: 20px;
}

.locations-container a {
    text-decoration: none;
    transition: 0.1s;
    border-radius: 10%;
    color: white;
}

.locations-container a:hover {
    border: solid 1px cyan;
    border-radius: 10%;
    color: cyan;
    font-weight: bold;
    font-size: 17px;
}



/*****************************************/
/*   Fill Booking Details  */

#select-slots {
    background: url('../images/parking-slots.png') no-repeat;
    background-size: 100% 100%;
    width: 700px;
    height: 504px;
}

#parking-slots {
    padding-top: 3px;
    color: white;
    text-align: center;
    font-size: 14px;
}

#top-slots {
    display: grid;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#bottom-slots {
    position: relative;
    top: 55px;
    padding-right: 18px;
    
}

#rightmost-slots {
    float: right;
    margin-top: 4px;
}

.double-slots {
    width: 96px;
    float: right;
    margin-top: 2px;
}

#double-slots-1 {
    margin-right: 83px;
    margin-top: 1px;
}

#double-slots-2 {
    margin-right: 89px;
}

#double-slots-3 {
    margin-right: 85px;
}

.double-slots-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
}

.slot {
    width: 28px;
    height: 48px;
    padding-top: 15px;
    transition: fade 0.2s;
    border-radius: 4%;
}

.slot:hover {
    background: #428bca;
    opacity: 0.5;
    cursor: pointer;
}

.slot-inverted {
    padding-top: 4px;
    height: 27.6px;
    width: 52px;
}

.slot-selected {
    background: #5cb85c;
    opacity: 0.8;
}

.slot-selected:hover {
    background: #5cb85c;
    opacity: 0.8;
}

.slot-disabled {
    background: #d9534f;
    opacity: 0.8;
}

.slot-disabled:hover {
    cursor: not-allowed;
    background: #d9534f;
    opacity: 0.8;
}


#bookingform .my-label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

#bookingform input {
    margin-top: 12px;
}

#bookingform select {
    margin-top: 12px;
}

#bookingform #category {
    display: inline-block;
}

#select-slots-form {
    position: relative;
    top: 12px;
}

#select-slots-form input {
    margin-top: 10px;
    margin-bottom: 15px;
}

input[readonly]{
  background-color:transparent;
  border: 0;
  color: white;
  font-size: 1em;
}

select[disabled] {
    background-color: transparent;
    color: white;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*****************************************/
/*   Full Screen Background  */

.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 10;
}

.full-screen-background .input-box, .full-screen-background .confirm-box {
    width: 40%;
    height: 350px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    opacity: 1;
    z-index: 11;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.full-screen-background .confirm-box {
    width: 32%;
    height: 170px;
    padding: 50px;
    padding-top: 20px;
}

.full-screen-background .input-box .text {
    width: 100%;
}

.full-screen-background input{
    margin-top: 10px;
    margin-bottom: 10px;
}


.full-screen-background .my-btn {
    float: right;
    margin-left: 10px;
}

.full-screen-background .confirm-box .my-btn {
    margin-top: 40px;
}

